.curriculo-grid {
  display: grid; /* Ativa o modo grid */
  grid-template-columns: 1fr 300px; /* Cria 2 colunas de igual largura */
  grid-template-rows: 100px 1fr;   /* Cria 2 linhas baseadas no conteúdo */
  gap: 10px;                             /* Espaçamento entre os blocos */
}

.card {
  background: #f4f4f4;
  color: black;
  display: flex;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}